body {
  background-color: #fafafa;
  color: #423040;
  font-size: 1em;
  height: 100vh;
  /*background-image: url(../img/wallpaper.jpg);*/
  /*background-size: 100% 100vh;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  -webkit-display: -webkit-box;
  -webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.header {
  /*background: #efefef;*/
  width: 100%;
  color: #423040;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 200px;
}

.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5px;
  padding-left: 15px;
  font-weight: 300;
}

.name {
  padding-bottom: 4px;
  font-size: 1.5em;
  font-weight: 400;
}

.other {
  padding-top: 1px;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-item {
  text-align: center;
  padding: 5px;
  width: 75px;
  font-weight: 400;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #423040;
  -webkit-transition: letter-spacing 0.5s ease;
  -moz-transition: letter-spacing 0.5s ease;
  -o-transition: letter-spacing 0.5s ease;
  transition: letter-spacing 0.5s ease;
  letter-spacing: 1px;
}

a:hover {
  color: #785674;
  letter-spacing: 2px;
}

a:active {
  letter-spacing: 1px;
}

.nav-item.active a {
  border-bottom: 1px solid #423040;
}

.content {
  height: 100%;
  padding: 25px 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.panel {
  flex: 1;
  min-height: 200px;
  margin: 5px;
  padding: 5px;
  background: #efefef;
}

.panel:first-child {
  margin-left: 10px;
}

.panel:last-child {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .header {
    min-height: 150px;
    flex-direction: column;
    align-items: center;
  }

  .info {
    align-items: center;
    margin: 15px 0;
  }

  .row {
    flex-direction: column;
  }

  .panel {
    margin: 15px 15px 0 15px;
  }

  .panel:first-child {
    margin-left: 15px;
  }

  .panel:last-child {
    margin-right: 15px;
  }
}
